* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background: rgb(32, 32, 32);
    color: white;
    height: 85px; 
    
    width: 100%;
    top: 0;
    z-index: 10;
}

.logo {
    font-size: 1.5rem;
    font-weight:900;
    margin-left: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: rgb(63, 154, 199);
}

/* Hero Section */
.hero {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color:rgb(32, 32, 32);
    overflow: hidden;
}

/* Hero Text */
.hero-text {
    font-size: 12rem; 
    font-weight: 100;
    text-transform: uppercase;
    color: white;
    line-height: 1.2;
    z-index: 2;
    text-align: center;
    display: flex;
    flex-direction: column; 
    gap: 5px; 
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    transition: color 0.3s ease-in-out, -webkit-text-stroke 0.3s ease-in-out;
}

.hero-text span {
    display: block;
    text-align: center;
}

/* General styles */
body {
    margin: 0;
    padding:0;
    background: rgb(81, 81, 81);
    color: white;
    font-family: Arial, sans-serif;
    overflow: hidden; 
}

/* Hero section */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    text-align: center;
}

/* Hero text */
.hero-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7rem;
    font-weight:900;
    text-transform: uppercase;
    line-height: 0.9;
    letter-spacing: 2px;
    
}

.hero-text span {
    display: block; 
}

/* Floating images */
.hero-images {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


.floating-image {
    position: absolute;
    width: 300px;
    height: auto;
    transition: transform 0.5s ease-out;
}

.floating-image:hover ~ .hero-text {
    color: transparent; 
    -webkit-text-stroke: 2px white; 
}

.transparent-text {
    color: transparent;
    -webkit-text-stroke: 1px gray; 
}



/* Positioning images */
.floating-image:nth-child(1) { top: 7%; left: 14%; }
.floating-image:nth-child(2) { top: 27%; left: 75%; }
.floating-image:nth-child(3) { bottom: 20%; left: 5%; }



